name: Build RSDKv5 Android

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  v5-android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build Android APK
        run: |
          # Entra na pasta do projeto Android
          cd android
          # Garante que o script do Gradle tenha permissão de execução
          chmod +x gradlew
          # Compila a versão de lançamento (Release)
          ./gradlew assembleRelease

      - name: Upload Android APK
        uses: actions/upload-artifact@v4
        with:
          name: v5-android-apk
          path: android/app/build/outputs/apk/release/*.apk
          
