name: Build RSDKv5 Android

on:
  workflow_dispatch:

jobs:
  v5-android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      # Este passo instala as dependências extras que o NDK precisa
      - name: Install NDK and Tools
        run: |
          sdkmanager "ndk;23.2.8568313" "cmake;3.22.1"

      - name: Build Android APK
        run: |
          cd android
          chmod +x gradlew
          # O comando abaixo compila o C++ via CMake automaticamente através do Gradle
          ./gradlew assembleRelease

      - name: Upload Android APK
        uses: actions/upload-artifact@v4
        with:
          name: v5-android-apk
          path: android/app/build/outputs/apk/release/*.apk
          
